.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("../../src/assets/arcadeBg.png") center;
    height: 100%;
    color: white;
    padding: 1rem;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.score {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.gameOver {
    text-align: center;
}

.gameOverText {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #3b82f6;
}
.modal{
    position: absolute;
    top: 0;
}
@media (max-width: 786px) {
    .container {
        background: #1a202c
    }
}
