.meteor {
    position: absolute;
    cursor: pointer;
}

.small {
    width: 2rem;
    height: 2rem;

    background: url("../../src/assets/smallMeteorite.png") center center/cover;
}

.large {
    width: 3rem;
    height: 3rem;
    background: url("../../src/assets/bigMeteorite.png") center center/cover;
}

