.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a202c;
  color: white;
  padding: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.gameOver {
  text-align: center;
}

.gameOverText {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.ReactInputVerificationCode-item {
  position: relative;
  color:black !important;
  font-weight: 500;
  background: none;
  border-bottom: #3b82f6;
  box-shadow: 0 0 0 1px  #3b82f6 !important;
  z-index: 1;
}
.ReactInputVerificationCode-item::placeholder {
  color: #3b82f6;
}

@media (max-width: 768px) {
  .ReactInputVerificationCode__item:after{
    background-color: white;
  }
  .ReactInputVerificationCode-item {
    color: white !important;
    width: 3rem !important;
    height: 3rem !important;
  }
  .ReactInputVerificationCode-item::placeholder {
    color: white;
    opacity: 0.7;
  }
}






