@font-face {
  font-family: "Pixel";
  src: local("pixel"),
  url("./assets/fonts/pixel.ttf")format("opentype");
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "Pixel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
